/* File: /src/assets/styles/main.css */

/* 這裡是您放置全域 CSS 樣式的地方。
  例如：
  - CSS Reset
  - 全站字體設定
  - 通用樣式類別
*/

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
}
